In [ ]:
#QUES. 1Explain the key features of Python that  make it a popular choice of programming?
#Ams.   Features are-
       # Free and Open Source
        #Easy to code
        #Easy to Read
        #Object-Oriented Language
        #GUI Programming Support
        #High-Level Language

In [ ]:
#QUES. 2 Describe the role of predefined keywords in Python and provide examples of how they are used in a
      #program.

#ANS.Python Keywords are some predefined and reserved words in Python that have special meanings.
    #Keywords are used to define the syntax of the coding. The keyword cannot be used as an identifier,
    #function, or variable name.
    #There are 33 keywords

In [2]:
#here while is a keyword in python which is being used in a program
num=7
while num>0:
    print(num)
    num=num-1

7
6
5
4
3
2
1

In [ ]:
#QUES.3 Mutuable and immutable .
#ANS. Mutuable objects are those objects which can change or update after creation, but in immutuable objects are
    #those objects which cannot change after its creation.
    #Example of mutuable lists, dictionary.
    #Example of immutable tuple, string.
    #In mutuable objects we can perform functions like append, pop, remove etc.

In [6]:
# example of mutuable
a=[2,4,6,8]
a[1]=3
print(a)

[2, 3, 6, 8]

In [7]:
#example of immutable 
a="girl"
a[0]="good"
print(a)

TypeError: 'str' object does not support item assignment

In [ ]:
#The above example shows immutable doesnot change after its creation.

In [ ]:
#QUES 4. Operators with example.
#ANS.   Types of operators are:-
       # Arithmetic (+,-,*,%,/)
       #Comparison (==,!=,>,<,>=,<=)
       # Logical (Logical AND, Logical OR, Logical NOT)
       #Bitwise (&,/,^,~,>>,<<)
       # Assignment (+=,-=,*=,/=,%=,//=)
       # Membership (in, not in)
       # Identity (is, is not)

In [11]:
#example of arithmetic 
a=2
b=8
c=a+b
print(c)

10

In [13]:
#example of airthmetic
a=22
b=4
c=a%b
print(c)

2

In [1]:
#example of comparison operator
a=9
b=9
print(a==b)

True

In [2]:
#example of comparison operator
a=9
b=2
print(a<=b)

False

In [4]:
#example of logical AND
a=10
print(a>8 and a>2)

True

In [5]:
#example f logical OR
a=50
print(a>20 or a>100)

True

In [6]:
#example of logical NOT (it returns true when result is false)
a=35
print(not(a>30 and a<40))

False

In [8]:
#example of membership in operator
x=("girl" "boy")
print("god" in x)

False

In [9]:
#example of membership in operator
x=("stack" "list")
print("list" in x)

True

In [10]:
#example of not in operator
x=("girl" "boy")
print("god" not in x)

True

In [11]:
#example of membership not in operator
x=("stack" "list")
print("list" not in x)

False

In [15]:
#example of identity is operator
x=("tree", "queue")
y=("tree","queue")
z=x
print (x is z)

True

In [16]:
#example of identity is not operator
x=("tree", "queue")
y=("tree","queue")
z=x
print (x is not z)

False

In [ ]:
#QUES.5 Typecasting with example.
#ANS.    #Typecasting is a method of changing datatypes into anothere datatype to perform function.

In [18]:
#example 
x=int("2")
y=int(4.8)
z=int(2)
print(x)
print(y)
print(z)

2
4
2

In [ ]:
#the above example shows how the datatype like str, float changes into one datatype i.e int.

In [ ]:
#QUES.6 Conditional statement with example.
#ANS.   Conditional statement includes
        #if
        #if-else
        #if-elif-else

In [21]:
#example of if statement
x=20
if(x % 4==0):
    print ("skills")

skills

In [23]:
#example of if-else
student=30
school=30
if(student==school):
    print("good class")
else:
        print("bad class")

good class

In [1]:
#example of if-elif-else
my_class=45
if my_class == 40:
    print("class is good")
elif (my_class>40):
    print("class is avg")
else:
    print("my bad")

class is avg

In [ ]:
#QUES.7 Different types of loop with example.
#ANS.   Types of loop are -
        #for loop (it iterates each element in a program one by one)
        #while loop (it execute a block of code until a condition is met)

In [4]:
#example of for loop
n=5
for i in range(0,n,2):
    print(i)

0
2
4

In [5]:
#example of while loop
n=7
i=1
while i<n:
    print(i)
    i=i+1
else:
    print("skills")

1
2
3
4
5
6
skills